* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(0,0,0);
	background: linear-gradient(90deg,rgba(253,29,29,1) 0%, rgba(0,0,0,1) 50%, rgba(131,58,180,1) 100%);
  }
  
  /* Style the top navigation bar */
  .topnav {
	padding: 30px;
	overflow: hidden;
	background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* style the side sections */
  .column {
	float: left;
	padding: 10px;
	height: 300px;
  }

  /* Style the content */
	.content {
		width: 50%;
		background-color: #ddd;
		padding: 10px;
		text-align: center;
	}

  .column.side {
	width: 25%;
  }


  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Style the footer */
  .footer {
	background-color: #f1f1f1;
	padding: 10px;
  }